build/ # Build and output directories
dist/
coverage/
.next/
.cache/
*.tsbuildinfo

node_modules/ # Dependencies
**/node_modules/
.pnp/
.pnp.js

# Mobile platform specifics
ios/Pods/
ios/build/
ios/DerivedData/
ios/*.xcworkspace
ios/*.xcuserstate
ios/*.xcarchive
ios/*.dSYM.zip
ios/*.ipa
android/app/build/
android/build/
android/.gradle/
android/local.properties
android/captures/
android/*.apk
android/*.aab
android/*.hprof

*.generated.ts
*.generated.tsx
src/**/*.js
!src/types/*.d.ts

# Config & environment
.env*
!.env.example
firebase-credentials.json
google-services.json
GoogleService-Info.plist

.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.firebase/
metro-cache/

# IDE
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

__snapshots__/
coverage/
junit.xml

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
